.shoppinUl {
    display: flex;
}

.shoppinLi {
    display: flex;
    gap: 40px;
    margin-top: 70px;
}

.ShoppingCart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ShoppingCart1 {
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

.shoppinhH2 {
    margin-top: 49px;
    color: var(--Black, #2D2D2B);
    font-family: "Didot";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}

.Shopping {
    display: flex;
    gap: 40px;
    /* margin-top: 20px; */
    border: 1px solid var(--Dusty-rose, #D4C8BE);
    overflow: hidden;
    padding: 10px 35px;
    border-radius: 10px;
    width: 880px;
}

.GoIcon {
    font-size: 22px;
}

.Shopping img {
    width: 149px;
    height: 105px;
    border-radius: 10px;
}

.ShopP {
    width: 130px;
    height: 50px;
    padding: 10px;
}

.shopButton {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #B8926A;
}

.shopButton button {
    width: 61px;
    height: 40px;
    border-radius: 10px;
    background: var(--Primary, #B8926A30);
    color: #B8926A;
    font-size: 20px;
}

.P140 {
    color: black;
    font-size: 20px;
    padding-left: 50px;

}

.summary {
    /* display: flex; */
    background-color: #b8926a30;
    border-radius: 10px;
    overflow: hidden;
    color: wheat;
    width: 330px;
    height: 265px;
    padding: 30px 30px;
}

.summary1 h2 {
    color: black;

}

.SumP {
    color: black;
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.Sump_text {
    display: flex;
    justify-content: space-between;
}

.sum_button {
    height: 54px;
    width: 250px;
    background-color: #B8926A;
    border-radius: 10px;

}

.backTo {
    margin-top: 40px;
    color: #B8926A;
}