.most {
    margin-top: 128px;
}

.mostSl {
    margin-top: 59px;
}

.most2 {
    /* margin: 30px; */
    color: #2D2D2B;
    font-family: Didot;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
}