.ResetPP {
    display: flex;
    align-items: center;
    margin-top: 28px;
    gap: 15px;
}

.Reset_button {
    width: 24px;
    height: 24px;
    background-color: #b8926a;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Reset_button1 {
    color: white;
}

.Reset_P {
    color: #b8926a;
}

.ResetPassword {
    margin-top: 108px;

}

.ResetPasswordh2 {
    font-size: 35px;
    color: #2D2D2B;
}

.ResetInput {
    display: flex;
    flex-direction: column;
}

.ResetInput1 {
    margin-top: 30px;
    border: 1px solid var(--Dusty-rose, #D4C8BE);
    background-color: inherit;
    overflow: hidden;
    padding: 10px 30px;
    border-radius: 10px;
    width: 50%;
    height: 54px;
}

.send {
    margin-top: 20px;
    width: 50%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #EAE6DF;
    border-radius: 10px;
    background: var(--Primary, #B8926A);
}

.ResetPassword1 {
    margin-top: 70px;
    display: flex;
    gap: 20px;
}

.registerP {
    color: black;
    font-family: "Raleway";
}

.register1 {
    color: #B8926A;
}